body {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: lightcyan;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    align-items:center;
}

.calc-body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    border: solid black 0.5px;
    border-radius: 4px;
    background-color: lightgrey;
    height: 450px;
    width: 340px;
    margin-top: 20px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: solid black 0.3px;
    border-radius: 4px;
    width: 300px;
    height: 70px;
    margin: 5px;
    margin-bottom:15px;
    margin-top: 15px;
    background-color: white;

}

.screen-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 4px;
}

button {
    height: 55px;
    width: 55px;
    background-color: lightsalmon;
    margin: 4px;
    border-radius: 4px;
    border-style: solid;
    
}

#clear {

}

button:hover {
    background-color: salmon;
}

.button-rows {
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
}